.ui.table.logview {
  margin-top: 24px;
}

#logview {

  th.time,
  td.time {
    width: 110px;
  }

  th.level,
  td.level {
    width: 100px;
  }

  th.origin,
  td.origin {
    width: 100px;
  }

  .location {
    font-family: consolas, monospace;
    .method {
      font-size: 0.92em;
      color: #777;
    }

    .file {
      font-size: 0.85em;
      color: #aaa;
    }
  }
}

#pref-modal {
  width: 33em;
  input[type="text"],
  input[type="password"] {
    width: 30em;
  }

  input[name="port"] {
    width: 8em;
  }
}

.location .description {
  margin-left: 24px;
}
