.ui.search {
  .prompt { width: 350px; }
  .checkbox {
    margin-left: 12px;
    label { cursor: pointer;  }
  }
}

.logview {
  position: fixed;
  top: 60px;
  bottom: 50px;
  width: 100%;

  .thead, .tbody {
    .tr {
      display: flex;
      flex-flow: row nowrap;
    }

    .th, .td {
      padding: 4px 10px;
      color: rgba(0,0,0,.87);
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
      line-weight: 1.4285em;
      flex-flow: row nowrap;
      align-items: flex-start;
    }
  }

  .thead {
    position: fixed;
    top: 60px;
    width: 100%;
    display: flex;

    .th {
      background-color: #f9fafb;
      border-top: 1px solid rgba(34, 36, 38, .1);
      border-bottom: 1px solid rgba(34, 36, 38, .1);
      font-weight: 700;
    }
  }

  .tbody {
    position: fixed;
    top: 90px;
    bottom: 0px;
    width: 100%;
    overflow-y: scroll;

    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid rgba(34, 36, 38, .1);
  }
/*
  .tbody {
    .td { border-bottom: 1px solid rgba(34, 36, 38, .1); }
    .td.message { font-family: consolas; }

    .heading, .body {
      display: flex;
      flex-flow: column wrap;

      .stackframe {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        .method {
          flex: 0 0 content;
        }
        .file {
          flex: 0 0 content;
          color: rgba(120, 120, 120, .87);
          font-size: 0.9em;
        }
      }
    }
    .body .stackframe {
      margin-left: 20px; /* same as icon size /
    }
}
 */

  table.stacktrace {
    .dropdown.icon { transform: rotate(-90deg); }

    .file {
      padding-left: 12px;
      color: rgba(120, 120, 120, .87);
      font-size: 0.9em;
    }
    thead td { cursor: pointer; }
    tbody { display: none }
    tbody .method { padding-left: 20px; /* same as icon size */ }
  }

  table.stacktrace.active {
    .dropdown.icon { transform: rotate(0deg); }
    tbody { display: table-row-group; }
  }

  .time { flex: 0 0 110px; }
  .level { flex: 0 0 100px; }
  .origin { flex: 0 0 100px; }
  .message { flex: 1 0 0px; }

  .highlight { color: #fbbd08; }
}
